<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<p>The development and design of a basic web page can be a fun yet tricky task. Whether it’s a large commercial web page for business purposes, or a small personal web page about your hobby or family; the process of development is the same. The three major steps leading to the development and design of a basic web page include: information gathering, site layout and design, and HTML (hyper text markup language) conversion.



The most important task of developing and designing a web page is the gathering of information. You first need to brainstorm about what you would like the web page to consist of.  Collect everything that you want to become part of the web page, from editorials and graphics to company information and history. It may be a good idea to get your hands on as much data as possible, and then decide what is to be used in the web page. Whatever material that you do not used may be discarded later.  All information previously gathered is categorized in a hierarchy form from the most important to the least important.



Next, you have to develop the layout of the web page. You should draw some simple sketches to display the basic “look and feel” of the web page.  The use of a specific theme or template should be used to maintain the same basic look throughout the web site. Keep the reader of the web site in mind when designing the web site. Most readers will not usually wait on large graphic files to load, especially on the home page.
</p>

</body>
</html>