<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Home</h2>
<p>The development and design of a basic web page can be a fun yet tricky task. Whether it’s a large commercial web page for business purposes, or a small personal web page about your hobby or family; the process of development is the same. The three major steps leading to the development and design of a basic web page include: information gathering, site layout and design, and HTML (hyper text markup language) conversion.</p>

</body>
</html>