<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About:</h1>
<p>The most important task of developing and designing a web page is the gathering of information. You first need to brainstorm about what you would like the web page to consist of.  Collect everything that you want to become part of the web page, from editorials and graphics to company information and history. It may be a good idea to get your hands on as much data as possible, and then decide what is to be used in the web page.</p>

</body>
</html>